UniversityManagement2_18thApril/WebContent/wsdl/InstructorService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.edu" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.edu" xmlns:intf="http://service.edu" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.edu" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getEnrolledCoursesForInstructor">
    <complexType>
     <sequence>
      <element name="instructorId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getEnrolledCoursesForInstructorResponse">
    <complexType>
     <sequence>
      <element name="getEnrolledCoursesForInstructorReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateInstructor">
    <complexType>
     <sequence>
      <element name="instructorEmpId" type="xsd:string"/>
      <element name="firstname" type="xsd:string"/>
      <element name="lastname" type="xsd:string"/>
      <element name="address" type="xsd:string"/>
      <element name="city" type="xsd:string"/>
      <element name="state" type="xsd:string"/>
      <element name="zip" type="xsd:int"/>
      <element name="department" type="xsd:string"/>
      <element name="days" type="xsd:string"/>
      <element name="timings" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateInstructorResponse">
    <complexType>
     <sequence>
      <element name="updateInstructorReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="unAssignInstructor">
    <complexType>
     <sequence>
      <element name="instructorId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="unAssignInstructorResponse">
    <complexType>
     <sequence>
      <element name="unAssignInstructorReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="assignInstructor">
    <complexType>
     <sequence>
      <element name="courseId" type="xsd:string"/>
      <element name="instructorId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="assignInstructorResponse">
    <complexType>
     <sequence>
      <element name="assignInstructorReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAllInstructor">
    <complexType/>
   </element>
   <element name="getAllInstructorResponse">
    <complexType>
     <sequence>
      <element name="getAllInstructorReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getInstructorById">
    <complexType>
     <sequence>
      <element name="instructorId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getInstructorByIdResponse">
    <complexType>
     <sequence>
      <element name="getInstructorByIdReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteInstructor">
    <complexType>
     <sequence>
      <element name="instructorId" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteInstructorResponse">
    <complexType>
     <sequence>
      <element name="deleteInstructorReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addInstructor">
    <complexType>
     <sequence>
      <element name="instructorId" type="xsd:string"/>
      <element name="firstname" type="xsd:string"/>
      <element name="lastname" type="xsd:string"/>
      <element name="address" type="xsd:string"/>
      <element name="city" type="xsd:string"/>
      <element name="state" type="xsd:string"/>
      <element name="zipCode" type="xsd:int"/>
      <element name="department" type="xsd:string"/>
      <element name="days" type="xsd:string"/>
      <element name="timings" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addInstructorResponse">
    <complexType>
     <sequence>
      <element name="addInstructorReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="unAssignInstructorResponse">

      <wsdl:part element="impl:unAssignInstructorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="unAssignInstructorRequest">

      <wsdl:part element="impl:unAssignInstructor" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getEnrolledCoursesForInstructorRequest">

      <wsdl:part element="impl:getEnrolledCoursesForInstructor" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteInstructorRequest">

      <wsdl:part element="impl:deleteInstructor" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateInstructorResponse">

      <wsdl:part element="impl:updateInstructorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getInstructorByIdResponse">

      <wsdl:part element="impl:getInstructorByIdResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteInstructorResponse">

      <wsdl:part element="impl:deleteInstructorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="assignInstructorResponse">

      <wsdl:part element="impl:assignInstructorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllInstructorResponse">

      <wsdl:part element="impl:getAllInstructorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="assignInstructorRequest">

      <wsdl:part element="impl:assignInstructor" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getInstructorByIdRequest">

      <wsdl:part element="impl:getInstructorById" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAllInstructorRequest">

      <wsdl:part element="impl:getAllInstructor" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addInstructorResponse">

      <wsdl:part element="impl:addInstructorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addInstructorRequest">

      <wsdl:part element="impl:addInstructor" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getEnrolledCoursesForInstructorResponse">

      <wsdl:part element="impl:getEnrolledCoursesForInstructorResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="updateInstructorRequest">

      <wsdl:part element="impl:updateInstructor" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="InstructorService">

      <wsdl:operation name="getEnrolledCoursesForInstructor">

         <wsdl:input message="impl:getEnrolledCoursesForInstructorRequest" name="getEnrolledCoursesForInstructorRequest">

       </wsdl:input>

         <wsdl:output message="impl:getEnrolledCoursesForInstructorResponse" name="getEnrolledCoursesForInstructorResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateInstructor">

         <wsdl:input message="impl:updateInstructorRequest" name="updateInstructorRequest">

       </wsdl:input>

         <wsdl:output message="impl:updateInstructorResponse" name="updateInstructorResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="unAssignInstructor">

         <wsdl:input message="impl:unAssignInstructorRequest" name="unAssignInstructorRequest">

       </wsdl:input>

         <wsdl:output message="impl:unAssignInstructorResponse" name="unAssignInstructorResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="assignInstructor">

         <wsdl:input message="impl:assignInstructorRequest" name="assignInstructorRequest">

       </wsdl:input>

         <wsdl:output message="impl:assignInstructorResponse" name="assignInstructorResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllInstructor">

         <wsdl:input message="impl:getAllInstructorRequest" name="getAllInstructorRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAllInstructorResponse" name="getAllInstructorResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getInstructorById">

         <wsdl:input message="impl:getInstructorByIdRequest" name="getInstructorByIdRequest">

       </wsdl:input>

         <wsdl:output message="impl:getInstructorByIdResponse" name="getInstructorByIdResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteInstructor">

         <wsdl:input message="impl:deleteInstructorRequest" name="deleteInstructorRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteInstructorResponse" name="deleteInstructorResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addInstructor">

         <wsdl:input message="impl:addInstructorRequest" name="addInstructorRequest">

       </wsdl:input>

         <wsdl:output message="impl:addInstructorResponse" name="addInstructorResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="InstructorServiceSoapBinding" type="impl:InstructorService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getEnrolledCoursesForInstructor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getEnrolledCoursesForInstructorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getEnrolledCoursesForInstructorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="updateInstructor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateInstructorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateInstructorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="unAssignInstructor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="unAssignInstructorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="unAssignInstructorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="assignInstructor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="assignInstructorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="assignInstructorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getAllInstructor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAllInstructorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAllInstructorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getInstructorById">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getInstructorByIdRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getInstructorByIdResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteInstructor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteInstructorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteInstructorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="addInstructor">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addInstructorRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addInstructorResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="InstructorServiceService">

      <wsdl:port binding="impl:InstructorServiceSoapBinding" name="InstructorService">

         <wsdlsoap:address location="http://localhost:8080/UniversityManagement2/services/InstructorService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
